<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Login y Create</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" [ngClass]="{active: menuOption == 'home'}" (click)="onOption('home')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="albums" [ngClass]="{active: menuOption == 'albums'}" (click)="onOption('albums')">Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="todos" [ngClass]="{active: menuOption == 'todos'}" (click)="onOption('todos')">Todos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="usuarios" [ngClass]="{active: menuOption == 'usuarios'}" (click)="onOption('usuarios')">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="posts" [ngClass]="{active: menuOption == 'posts'}" (click)="onOption('posts')">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="photos" [ngClass]="{active: menuOption == 'photos'}" (click)="onOption('photos')">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="myUser" [ngClass]="{active: menuOption == 'myUser'}" (click)="onOption('myUser')">MyUser</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet />